.container {
    border-bottom: 2px solid #22262e;
    font-weight: 600;
}

.container td {
    padding: 10px 0;
}

.container .symbol {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container .symbol img {
    width: 30px;
    margin-right: 8px;
}

.container .price {
    display: flex;
    align-items: center;
}
